*{
  color: white;
} 

body{
  background-color: #993c33;
}

a:link,a:visited{
  text-decoration: none;
  color: white;
  padding-left: 7px;
  padding-right: 4px;
}

#about{
  border-left: 1px solid white;
}

a:hover{
  color:darkgray;
}

.header{
  margin-top: 10px;
  margin-bottom: 10px;
}

.display-4,#launch,#relaunch{
  font-family: 'Orbitron', sans-serif;
}

.jumbotron {
  background-image: url("../images/planet.jpg");
}

.card,.btn{
  background-color: black;
}

.btn{
  margin-bottom: 20px;
  border: 1px solid white;
}

.btn:hover{
  background-color: dimgray;
}

#main-content,#more-info{
  margin-bottom: 20px;
}

.local-weather-style,.mars-weather-style{
  background-color: black;
  margin: 20px;
}

#curiosity{
  margin-right: 10px;
}